.title{
  margin-right: 25%;
  margin-left: 5%;
}

.navbar-custom{
  color: #0FBCF9;
}

.input-search{
  width: 480px;
}

.inin{
  border-color: #0FBCF9;
}

.login{
  margin-right: 5%;
}
.incolor{
  color: #0FBCF9;
}
