.container{
  margin-top: 150px;
  margin-bottom: 230px;
}

.account-box
{
  border: 1px solid #0FBCF9;
  border-radius: 2px;
  z-index: 3;
  font-size: 13px !important;
  background-color: #ffffff;
  padding: 20px;
}

.logo
{
  width: 138px;
  height: 30px;
  text-align: center;
  margin: 10px 0px 27px 40px;
  background-position: 0px -4px;
  position: relative;
}

.sign-text{
  font-size: 20px;
  color: #525252;
}

.forgotLnk
{
  margin-top: 10px;
  display: block;
}


.account-box
{
  color: #fff;
}


.sign-in{
  background-color: #0FBCF9;
  color: white;
}
