*[role="form"] {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  border-radius: 0.3em;

}

*[role="form"] h2 {
  font-family: 'Open Sans' , sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.container{
  margin-top: 75px;
  margin-bottom: 35px;
}
.reg-text{
  text-align: center;
}
.mg-top{
  margin-top: 30px;
}
.account-box
{
  border: 1px solid #0FBCF9;
  border-radius: 2px;
  z-index: 3;
  font-size: 13px !important;
  background-color: #ffffff;
  padding: 20px;
}

.btn-reg{
  background-color: #0FBCF9;
  color: white;
}
