<div style="display: flex">
  <app-courselessons #sidenav [lesson_id]="lesson_id"></app-courselessons>
  <div class="container">
    <div class="row">
      <p class="lesson-info">IELTS Reading - так называется одна из секций международного экзамена
        IELTS. Она призвана проверить способность воспринимать содержание текста на английском языке.
        Тестируемый должен будет прочитать три текста и ответить на 40 вопросов.</p>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/65GCiSn_yNM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
