.landing-carousel{
  margin-top: 50px;
  width: 100%;
}
h2{
  font-size: 24px;
  padding-bottom: 15px;
}
.bottom-line{
  width: 25px;
  height: 3px;
  background-color: rgb(99, 122, 145);
}
.fea{
  margin-top: 25px;
}
.fea-img {
  width: 20%;
}
.heading {
  width: 80%;
}
.fea i {
  font-size: 39px;
  color: #5FCF80;
  margin-top: 7px;
}
.heading h4 {
  font-size: 17px;
  line-height: 1.25;
  font-weight: 700;
  color: #000;
  margin: 10px 0px;
  text-align: left;
}
.heading p {
  text-align: left;
}

.about{
  background-color: #0FBCF9;
  color: white;
}

a.list-group-item {
  height:auto;
  min-height:250px;
  padding-top: 20px;

}
a.list-group-item.active small {
  color:#0FBCF9;
}
a.list-group-item:hover{
  background-color: #0FBCF9;
  color: white;
}

.courselist{
  margin-top: 50px;
  margin-bottom: 60px;
}





