<div class="banner">
  <div class="bg-color">
    <div class="container">
      <div class="row">
        <div class="banner-text text-center">
          <div class="intro-para text-center quote">
            <p class="big-text">IELTS Reading</p>
            <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium enim repellat sapiente quos architecto<br>Laudantium enim repellat sapiente quos architecto</p>
            <a href="" class="btn btn-default mybtn">Начать Курс</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="head-text text-left">
      <h2>О курсе:</h2>
    </div>
    <div class="info text-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae</p>
    </div>
  </div>
</div>
