<nav id="sidebar">
  <div class="sidebar-content">
    <div class="sidebar-header text-center">

      <div class="user-info">
        <span class="user-name">{{me.username}}</span>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="list-unstyled">
        <li>
          <a [ngClass]="{'active': active==='edit_profile'}" routerLink="/edit_profile">Мой профиль</a>
        </li>
        <li>
          <a [ngClass]="{'active': active==='course_list'}" routerLink="/course_list">Мои курсы</a>
        </li>
        <li *ngIf="admin">
          <a [ngClass]="{'active': active==='course_create'}" routerLink="/course_create">Создать курс</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
