<nav id="sidebar">
  <div class="sidebar-content">
    <div class="sidebar-header text-center">
      <div class="user-pic">
        <img class="img-responsive img-rounded img-profile" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
             alt="User picture">
      </div>
      <div class="user-info">
          <span class="user-name">John Smith</span>

      </div>
    </div>
    <div class="sidebar-menu">
        <ul class="list-unstyled">
          <li class="active">
            <a href="#">Мой профиль</a>
          </li>
          <li>
            <a href="#">Мои курсы</a>
          </li>
          <li>
            <a href="#">Создать курс</a>
          </li>
        </ul>
    </div>
  </div>
</nav>
