.sidebar-content {
  margin-top: 50px;
  height: 100%;
  overflow-y: auto;
  position: relative;
  background-color: rgba(75, 207, 250, .70);
  margin-right: 60px;
  padding-right: 60px;
}
.sidebar-header{
  margin-top: 40px;
}
.user-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.user-pic img {
  height: 100%;
  width: 100%;
  display: block;
}
.sidebar-menu{
  font-size: 20px;
  margin-top: 40px;
}
a{
  color: white;
}

.sidebar-menu li{
  margin-left: 40px;
  padding: 10px 0;
}

#sidebar{
  height: 90%;
}

.active {
  color: black;
}
